{% extends "part/_user_dashboard_page_cards.html.twig" %}
{% block title %}Liste des salles
{% endblock %}

{% block user_page_title %}Mes salles
{% endblock %}
{% block user_cards %}

	{% for room in rooms %}
		<div class="p-1 col-4">
			<a class="text-decoration-none" href="{{ path('app_user_room_details', {'id': room.id}) }}">
				<div class="card bg-white">
					<div class="card-body">
						<h4 class="mb-3 card-title">
							{{ room.name|upper }}
						</h4>
						<p>
							<i data-feather="bookmark"></i>
							{{ room.reservations|length }}
							réservations</p>
						<p>
							<i data-feather="calendar"></i>
							{{ room.calendars|length }}
							{{ room.calendars|length <= 1 ? ' calendier lié' : ' calendriers liés' }}</p>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}


{% endblock %}
{% block user_cards_buttons %}
	<a href="{{ path('app_user_create_room') }}" class="btn btn-primary col-6 mx-auto">
		<strong>Créer une nouvelle salle</strong>
	</a>
{% endblock %}
